
@{
    ViewBag.Title = "Sảm phẩm";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    List<CosmeticsShop.Models.Category> categories = ViewBag.ListCategory as List<CosmeticsShop.Models.Category>;
    List<CosmeticsShop.Models.Product> products = ViewBag.ListProduct as List<CosmeticsShop.Models.Product>;
}
<script>
    $(document).ready(function () {
        $('.item_add').click(function () {
            event.preventDefault();
            var ID = $(this).data("id");
            $.ajax({
                url: '/Cart/AddItem',
                data: {
                    ProductID: ID
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.notify("Thêm vào giỏ hàng thành công!", "success");

                        $.ajax({
                            url: '/Cart/GetTotalCart',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                            },
                        });
                    } else {
                        $.notify("Số lượng không đủ!", "error");
                    }
                },
            });
        })
    });
</script>
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">Sản phẩm</li>
        </ol>
    </div>
</div>
<!--content-->
<div class="products">
    <div class="container">
        <h2>Sản phẩm</h2>
        <div class="col-md-9">
            @if (products.Count > 0)
            {
                int count = 1;
            loop:
                <div class="content-top1">
                    @for (int i = count - 1; i < products.Count; i++)
                    {
                        count += 1;
                        if (count % 3 == 0)
                        {
                            goto loop;
                        }
                        <div class="col-md-4 col-md4">
                            <div class="col-md1 simpleCart_shelfItem">
                                <a href="single.html">
                                    <img class="img-responsive" src="~/Content/images/@products[i].Image1" alt="" />
                                </a>
                                <h3><a href="single.html">@products[i].Name</a></h3>
                                <div class="price">
                                    <h5 class="item_price">@products[i].Price.Value.ToString("#,##")₫</h5>
                                    <a href="#" class="item_add" data-id="@products[i].ID">Chọn mua</a>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-3 product-bottom">
            <!--categories-->
            <div class=" rsidebar span_1_of_left">
                <h3 class="cate">Danh mục</h3>
                <ul class="menu-drop">
                    @foreach (var item in categories)
                    {
                        <li class="item1">
                            <a href="#">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--//content-->
